#rank-hot
  .main-title
    span
      i.icon-hot
      | HOT 100 COVERS
  .sub-tab
    button.tab-btn(ng-class="{ active: subTabIndex==0 }", ng-click="subTabIndex=0; changeSubTab(subTabIndex)") Daily
    button.tab-btn(ng-class="{ active: subTabIndex==1 }", ng-click="subTabIndex=1; changeSubTab(subTabIndex)") Weekly
    button.tab-btn(ng-class="{ active: subTabIndex==2 }", ng-click="subTabIndex=2; changeSubTab(subTabIndex)") Monthly
  ul.lists.hot-lists
    li.list(ng-repeat="")
      ul
        li.rank {{$index + 1}}
        li.cover
          img.lazy(alt='Cover image', data-src='http://{{imgCdn}}/user/{{list.user_id}}_small.png')
          img.lazy(alt='Cover image', data-src='http://{{imgCdn}}/cover/{{list.cover_id}}_small.png')
        li.description
          ul
            li.title
              a(ui-sref='cover({id: list.cover_id})') {{list.title}}
            li.artist
              a(ui-sref='user.rec({id: list.user_id})') {{list.artist}}
        li.increasing
            i(ng-class="{ 'icon-rise': list.last==-1 || $index <= list.last, 'icon-down': $index > list.last && list.last!=-1 }")
          li.count
            a.play(ng-click='playback($index,lists)')
              i.icon-play
            span.play-count {{list.play_count}}