#home.container
  //- .carousel
  //-   div(style='height: 305px')
  //-     carousel(interval="myInterval")
  //-       slide(ng-repeat="slide in slides", active="slide.active")
  //-         img(ng-src="{{slide.image}}", style="margin:auto")
  //-         .carousel-caption
  //-           h4 Slide {{$index}}
  //-           p {{slide.text}}
  .carousel
    slick(dots="true", autoplay="true", speed="3000")
      div.slide(ng-repeat='i in [0, 1, 2, 3 , 4]')
        h3 {{$index}}
  #left-column
    hot-rank
    new-rank
  #right-column
    .visit
      a(ui-sref='country.home') Visit Vōchie Country
    .twitter-box
      span Twitter
    .advertising-box
      span 
        | Want to Brand your business HERE?
        br
        br
        | Call Us 123 00 123
    .facebook-box
      span Facebook