#cover.container
  #left-column
    .cover-info
      .cover
        .image(hide-lazy='')
          img.lazy(alt="Cover image", data-src="https://do4n1cuexrn6s.cloudfront.net/user/{{coverInfo.userId}}_medium.png")
          img.lazy(alt="Cover image", data-src="https://do4n1cuexrn6s.cloudfront.net/user/{{coverInfo._id}}_medium.png")
          button.playback(ng-click='playback(coverInfo)')
            i.icon-play
      .description
        h2 {{coverInfo.title}}
        h4
          a(ui-sref="root.user.rec({ id: coverInfo.userId })") {{coverInfo.username}}
        span {{transferServerTime(coverInfo.createdAt) | date:'yyyy-MM-dd HH:mm:ss'}}
        .interaction
          .playback.count
            i.fa.fa-play
            br
            span {{coverInfo.playCount}}
          .like.count
            i.icon-like
            br
            span {{coverInfo.likes}}
          .pin.count
            i.icon-pushpin
            br
            span {{coverInfo.pinCount}}
          .comment.count
            i.icon-comment
            br
            span {{coverInfo.commentCount}}
    #comment-block
      .header
        h3 Comments
      .comment-edit
        .avatar
          .square
            .padding
              .image
                img.lazy(alt="User Avatar", data-src="https://do4n1cuexrn6s.cloudfront.net/user/{{user._id}}_medium.png", ng-hide="user._id == undefined")
        form.comment-form(ng-submit="commentFunc.post()")
          textarea.content(ng-disabled="!user._id", ng-model="editComment", placeholder='My comment...', type='text')
          button.submit.pull-right(type="submit", ng-disabled="editComment == undefined || editComment.length == 0 || !user._id") POST
      .comments
        .comment(ng-repeat="comment in comments.list")
          .avatar
            .square
              .padding
                .image
                  img.lazy(alt="User Avatar", data-src="https://do4n1cuexrn6s.cloudfront.net/user/{{comment.user_id}}_medium.png")
          .content
            .username
              a(ui-sref="root.user.rec({ id: comment.user_id })") {{comment.user_name}}
            .remove-btn(ng-init='deleteMode = false')
              button.close(ng-click='deleteMode=true', ng-show='comment.user_id == user._id || coverInfo.userId == user._id')
                i.icon-delete
              .del-alert(ng-click='deleteMode = false', ng-show='deleteMode')
                .del-btn(ng-click='$event.stopPropagation()')
                  button.close(ng-click='deleteMode=false; $event.stopPropagation()')
                    i.icon-delete
                  ul.content
                    li.warning
                      i.icon-warning
                    li.emphasis
                      p
                        | Are you sure you want to delete this comment?
                        br
                        | This action 
                        b CANNOT 
                        | be undone.
                  button.del(ng-click="deleteMode = false; commentFunc.remove(comment.id)")
                    span Delete
                  button.cancel(ng-click='deleteMode = false')
                    span Cancel
            .text(ng-bind-html="comment.comment")
            .created-at {{transferServerTime(comment.create_at) | date:'yyyy-MM-dd HH:mm:ss'}}
        .more(ng-hide="comments.total == 0")
          button(ng-disabled='comments.list.length == comments.total', ng-click="commentFunc.moreComments()")
            i.icon-arrow-down
  #right-column
    .product
      h4 
        | Recorded by 
        i VÅchie {{product.name.toUpperCase()}}
      span >> Free Install Now!
      .download
        a.google-play(href="{{product.googlePlay}}", target='_blank')
          img(src='images/btn_android.png')
        a.app-store(href="product.appStore", target='_blank')
          img(src='images/btn_appStore.png')
    .recommend
      .main-title
        | Relative
      ul.rank-list
        li.rank-item(ng-repeat="item in recommend.list")
          ul.item-group
            li.cover(hide-lazy='')
              img.lazy(alt='Cover image', data-src='https://do4n1cuexrn6s.cloudfront.net/user/{{item.userId}}_small.png')
              img.lazy(alt='Cover image', data-src='https://do4n1cuexrn6s.cloudfront.net/cover/{{item.coverId}}_small.png')
              button.playback(ng-click='playback(item)')
                i.icon-play
            li.description
              ul
                li.title
                  a(ui-sref='{{coverLink}}({id: item.coverId})') {{item.title}}
                li.artist
                  a(ui-sref='root.user.rec({id: item.userId})') {{item.username}}
            li.playback.count
              i.fa.fa-play
              br
              | {{item.playCount}}
            li.like.count
              i.icon-like
              br
              | {{item.likes}}
        li.more-covers(ng-hide="recommend.fullList.length == 0")
          button(ng-click="recommend.moreCovers()")
            i.icon-arrow-down
    .ad-wrapper
    .most-like
      .main-title
        | Most Like
      ul.rank-list
        li.rank-item(ng-repeat="item in mostLike.list")
          ul.item-group
            li.cover(hide-lazy='')
              img.lazy(alt='Cover image', data-src='https://do4n1cuexrn6s.cloudfront.net/user/{{item.userId}}_small.png')
              img.lazy(alt='Cover image', data-src='https://do4n1cuexrn6s.cloudfront.net/cover/{{item.coverId}}_small.png')
              button.playback(ng-click='playback(item)')
                i.icon-play
            li.description
              ul
                li.title
                  a(ui-sref='{{coverLink}}({id: item.coverId})') {{item.title}}
                li.artist
                  a(ui-sref='root.user.rec({id: item.userId})') {{item.username}}
            li.playback.count
              i.fa.fa-play
              br
              | {{item.playCount}}
            li.like.count
              i.icon-like
              br
              | {{item.likes}}
        li.more-covers(ng-hide="mostLike.fullList.length == 0")
          button(ng-click="mostLike.moreCovers()")
            i.icon-arrow-down