#home.container
  .carousel
    slick(dots="true", autoplay="true", speed="2000", autoplay-speed="5000")
      div.slide
        a(ui-sref='pop.home')
          img(src='images/banner_1.png')
      div.slide
        a(ui-sref='country.home')
          img(src='images/banner_2.png')
  #left-column
    hot-rank
    new-rank
  #right-column
    .visit
      a(ui-sref='pop.home') Visit Vōchie Pop
    .twitter-box
      span Twitter
    .advertising-box
      span 
        | Want to Brand your business HERE?
        br
        br
        | Call Us 123 00 123
    .facebook-box
      span Facebook