
<div id="home">
  <div class="voci">
    <div class="container">
      <h1>Welcome to Vōchie!</h1>
      <p><b>It's Pandora For Singers!</b><br/>Vōchie gives you control over the power of interactive music. You choose the genre, artsits, and songs from thousands of available hit tracks: all killer, no filler! Completely ad supported and 100% FREE! No charge to download and no monthly subscription fee. Never "pay to play!"</p>
      <div class="intro-block"><a href="/home#app-pop" class="entry">Start Explore</a><img src="images/intro.png" class="intro"/></div>
    </div>
  </div>
  <div id="app-pop">
    <div class="container">
      <div class="app-icon"><img src="images/launcher-pop.png"/></div>
      <div class="intro-block">
        <div class="wording">
          <h1>Vōchie-Pop</h1><br/>
          <p>Vōchie gives you control over the power of interactive music. You choose the genre, artsits, and songs from thousands of available hit tracks: all killer, no filler! Completely ad supported and 100% FREE! No charge to download and no monthly subscription fee. Never "pay to play"</p><br/>
        </div>
        <div class="download">
          <div class="google-play"><a href="https://play.google.com/store/apps/details?id=com.deansoft.singnshare" target="_blank"><img src="images/btn_android.png"/></a></div>
          <div class="app-store"><a href="https://itunes.apple.com/us/app/sing-n-share/id774502972?ls=1&amp;mt=8" target="_blank"><img src="images/btn_appStore.png"/></a></div>
        </div>
      </div>
      <div class="intro-cover">
        <div class="cover"><img src="images/cover.jpg"/></div>
        <div class="entry"><a ui-sref="pop.home">Learn More</a></div>
      </div>
    </div>
  </div>
  <div id="app-country">
    <div class="container">
      <div class="app-icon"><img src="images/launcher-country.png"/></div>
      <div class="intro-block">
        <div class="wording">
          <h1>Vōchie-Country</h1><br/>
          <p>Vōchie gives you control over the power of interactive music. You choose the genre, artsits, and songs from thousands of available hit tracks: all killer, no filler! Completely ad supported and 100% FREE! No charge to download and no monthly subscription fee. Never "pay to play"</p><br/>
        </div>
        <div class="download">
          <div class="google-play"><a href="https://play.google.com/store/apps/details?id=com.deansoft.singnshare" target="_blank"><img src="images/btn_android.png"/></a></div>
          <div class="app-store"><a href="https://itunes.apple.com/us/app/sing-n-share/id774502972?ls=1&amp;mt=8" target="_blank"><img src="images/btn_appStore.png"/></a></div>
        </div>
      </div>
      <div class="intro-cover">
        <div class="cover"><img src="images/cover.jpg"/></div>
        <div class="entry"><a ui-sref="country.home">Learn More</a></div>
      </div>
    </div>
  </div>
  <div class="next-stars">
    <div class="container">
      <h1>BE THE NEXT STAR!</h1>
      <h2>Check Our Music Truck and Go For It!</h2>
    </div>
  </div>
</div>