/* Compass */
/* Breakpoint */
/* Susy */
/* Tools */
/* ===========================
 * Tools/Helpers
 * =========================== */
/* Main title */
#right-column .recommend .main-title, #right-column .most-like .main-title, .rank .main-title {
  font-size: 1.5em;
  line-height: 1em;
  height: 41px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px;
  margin-bottom: 8px;
  border-bottom: 2px solid #000;
}
#right-column .recommend .main-title i, #right-column .most-like .main-title i, .rank .main-title i {
  margin-right: 10px;
}

/* Image replacement */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/* Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden;
}

/* Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

/* For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1;
}

/* =Layout
 * ------------------- 
 */
.ul-list-inline {
  list-style: none;
  margin: 0;
  padding: 0;
}
.ul-list-inline li {
  display: inline-block;
  vertical-align: middle;
}
.lt-ie8 .ul-list-inline li {
  display: inline;
  zoom: 1;
}

/* =Images
 * -------------------
 */
.lazy-loaded {
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  opacity: 1;
}

.lazy-hidden {
  opacity: 0;
  background: #eee url(../images/loading.gif) no-repeat 50% 50%;
}

/* =Fonts
 * ------------------- 
 */
/* Chart Colors */
.f-color1 {
  color: #dd577a;
}

.f-color2 {
  color: #49aec0;
}

/* =Wordpress alignment
 * ------------------- 
 */
.alignleft {
  display: inline;
  float: left;
}

.alignright {
  display: inline;
  float: right;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Base */
/*! normalize.css v3.0.0 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
 * ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
[hidden], template {
  display: none;
}

/* Links
 * ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active, a:hover {
  outline: 0;
}

/* Text-level semantics
 * ========================================================================== */
/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b, strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
 * ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
 * ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
 * ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8+, and Opera
 * Correct `select` style inheritance in Firefox.
 */
button, select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled], html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  padding: 0;
}

/**
 * Remove default vertical scrollbar in IE 8/9.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
 * ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

/* ===========================
 * Base
 * =========================== */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  line-height: 1.5;
  background-color: #f1f1f1;
}

a {
  color: #dd577a;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
a:hover {
  color: #d42d58;
}

::-moz-selection {
  background: #dd577a;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #dd577a;
  color: #fff;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

ul {
  list-style: none;
}

button {
  outline: none;
}

/* ==|====================
 * Base/Form
 * ======================= */
input[type="text"], input[type="email"], input[type="password"], input[type="date"], input[type="search"], textarea {
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #666;
  padding: 0.5em;
  border: 1px solid #bfbfbf;
  outline: 0;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  background-color: #f7f7f7;
}
input[type="text"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, input[type="date"]::-webkit-input-placeholder, input[type="search"]::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #cdcdcd;
}
input[type="text"]:-moz-placeholder, input[type="email"]:-moz-placeholder, input[type="password"]:-moz-placeholder, input[type="date"]:-moz-placeholder, input[type="search"]:-moz-placeholder, textarea:-moz-placeholder {
  color: #cdcdcd;
}
input[type="text"]:-ms-input-placeholder, input[type="email"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, input[type="date"]:-ms-input-placeholder, input[type="search"]:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #cdcdcd;
}
input[type="text"]:hover, input[type="email"]:hover, input[type="password"]:hover, input[type="date"]:hover, input[type="search"]:hover, textarea:hover {
  border-color: #a5a5a5;
}
input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="search"]:focus, textarea:focus {
  border-color: #999;
}

/* Fonts */
/* Layout */
header.navbar {
  background-color: #49aec0;
  margin-bottom: 0;
}
header .container-fluid {
  background-color: #49aec0;
}
header .container-fluid .navbar-brand {
  color: #f1f1f1;
  font-weight: 700;
  padding: 5px 10px;
}
header .container-fluid .navbar-nav > li > a {
  color: #f1f1f1;
}
header .container-fluid .navbar-nav > li > a.active {
  color: #f1f1f1;
  background-color: #fe5a27;
}
header .container-fluid .navbar-nav > li > a:hover {
  color: #f1f1f1;
}
header .navbar-header .navbar-toggle .icon-bar {
  background-color: #f1f1f1;
}
header .navbar-header .logo {
  background: url("../images/logo.png");
  background-size: cover;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
}

#pop-header .container-fluid {
  background-color: #ff0066;
}

#country-header .container-fluid {
  background-color: #3a1f09;
}

footer {
  background-color: #29324d;
  height: 300px;
}

/* Root home */
.voci .container {
  text-align: center;
}
.voci .container .intro-block {
  position: relative;
  font-size: 2em;
}
.voci .container .intro-block .entry {
  background-color: #49aec0;
  border-radius: 10px;
  color: #f1f1f1;
  text-decoration: none;
  width: 200px;
  height: 50px;
  position: absolute;
  overflow: auto;
  margin: 20% auto 0 auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.voci .container .intro-block .entry:hover {
  background-color: #95d0da;
}
.voci .container .intro-block .intro {
  width: 100%;
}
@media (min-width: 62em) {
  .voci .container .intro-block .intro {
    width: auto;
  }
}

#app-pop {
  background: url(../images/app_pop.jpg) no-repeat;
}
#app-pop .container {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}
#app-pop .intro-block {
  color: #f1f1f1;
}
#app-pop .cover {
  color: #f1f1f1;
}
#app-pop .entry {
  background-color: #ff0066;
}
#app-pop .entry:hover {
  background-color: #ff66a3;
}

#app-country {
  background: url(../images/app_country.jpg) no-repeat;
}
#app-country .container {
  background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6));
}
#app-country .intro-block {
  color: #000;
}
#app-country .cover {
  color: #000;
}
#app-country .entry {
  background-color: #3a1f09;
}
#app-country .entry:hover {
  background-color: #924e17;
}

.next-stars {
  height: 400px;
  text-align: center;
}

#app-pop, #app-country {
  background-size: cover;
  background-position: center;
}
#app-pop .container, #app-country .container {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media (min-width: 62em) {
  #app-pop .container, #app-country .container {
    flex-direction: row;
  }
}
#app-pop .container .app-icon, #app-country .container .app-icon {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
}
@media (min-width: 62em) {
  #app-pop .container .app-icon, #app-country .container .app-icon {
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%;
  }
}
#app-pop .container .intro-block, #app-country .container .intro-block {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  padding: 0 10px;
}
@media (min-width: 62em) {
  #app-pop .container .intro-block, #app-country .container .intro-block {
    width: 40.67797%;
    float: left;
    margin-right: 1.69492%;
  }
}
#app-pop .container .intro-block .download, #app-country .container .intro-block .download {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media (min-width: 62em) {
  #app-pop .container .intro-block .download, #app-country .container .intro-block .download {
    flex-direction: row;
  }
}
#app-pop .container .intro-block .download div, #app-country .container .intro-block .download div {
  width: 49.15254%;
  float: right;
  margin-right: 0;
  text-align: center;
  padding: 10px 0;
}
#app-pop .container .intro-block .download a, #app-country .container .intro-block .download a {
  display: block;
}
#app-pop .container .intro-block .download img, #app-country .container .intro-block .download img {
  width: 100%;
}
@media (min-width: 62em) {
  #app-pop .container .intro-block .download img, #app-country .container .intro-block .download img {
    width: auto;
    height: 55px;
  }
}
#app-pop .container .intro-cover, #app-country .container .intro-cover {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  padding: 10px 0;
}
@media (min-width: 62em) {
  #app-pop .container .intro-cover, #app-country .container .intro-cover {
    width: 32.20339%;
    float: right;
    margin-right: 0;
  }
}
#app-pop .container .intro-cover .cover, #app-country .container .intro-cover .cover {
  padding: 10px;
  display: flex;
  justify-content: center;
}
#app-pop .container .intro-cover .cover img, #app-country .container .intro-cover .cover img {
  width: 170px;
  height: 170px;
}
#app-pop .container .intro-cover .cover .description, #app-country .container .intro-cover .cover .description {
  width: 50%;
  padding: 0 20px;
}
#app-pop .container .intro-cover .entry, #app-country .container .intro-cover .entry {
  border-radius: 5px;
  font-size: 1.5em;
  text-align: center;
  margin: 10px;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
#app-pop .container .intro-cover .entry a, #app-country .container .intro-cover .entry a {
  color: #f1f1f1;
  display: block;
  text-decoration: none;
}

/* Pop and Country */
.carousel {
  background: lightblue;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 50px;
}
.carousel slick {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}
.carousel slick .slide {
  text-align: center;
  height: 100%;
}
.carousel slick .slide img {
  margin: 0 auto;
  max-height: 100%;
  width: 100%;
}
.carousel slick .slick-dots {
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3));
  margin-bottom: 0;
  height: 34px;
  bottom: 0;
}

#left-column {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
@media (min-width: 62em) {
  #left-column {
    width: 66.10169%;
    float: left;
    margin-right: 1.69492%;
  }
}

#right-column {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
@media (min-width: 62em) {
  #right-column {
    width: 32.20339%;
    float: right;
    margin-right: 0;
  }
}

#home #right-column div {
  margin-bottom: 20px;
}
#home #right-column .visit {
  height: 100px;
  background-color: #fe5a27;
  font-size: 2em;
  font-weight: 700;
}
#home #right-column .visit a {
  width: 100%;
  height: 100%;
  color: #f1f1f1;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
#home #right-column .twitter-box, #home #right-column .advertising-box, #home #right-column .facebook-box {
  height: 300px;
  font-size: 2em;
  color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
}
#home #right-column .advertising-box {
  background-color: #ff0066;
  text-align: center;
}
#home #right-column .twitter-box {
  background-color: #43bfe1;
}
#home #right-column .facebook-box {
  background-color: #3b5998;
}

#songbook .header {
  text-align: center;
}
#songbook .header > .main-title, #songbook .header > .description {
  text-transform: uppercase;
}

#cover #left-column {
  background-color: #fff;
}
#cover #left-column .cover-info {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 10px;
}
@media (min-width: 600px) {
  #cover #left-column .cover-info {
    flex-direction: row;
  }
}
#cover #left-column .cover-info .cover {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
@media (min-width: 600px) {
  #cover #left-column .cover-info .cover {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
  }
}
#cover #left-column .cover-info .image {
  background: url(../images/default.png);
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  width: 100%;
  padding-top: 100%;
  min-height: 80px;
}
#cover #left-column .cover-info .image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
#cover #left-column .cover-info .description {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
@media (min-width: 600px) {
  #cover #left-column .cover-info .description {
    width: 66.10169%;
    float: right;
    margin-right: 0;
  }
}
#cover #left-column .cover-info .description .interaction {
  padding: 20px;
  display: flex;
  justify-content: center;
}
#cover #left-column .cover-info .description .interaction .count {
  margin: 0 20px;
  text-align: center;
}

#right-column .product .download {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 400px) {
  #right-column .product .download {
    flex-direction: row;
  }
}
#right-column .product .download a {
  margin-top: 10px;
  margin-left: 10px;
  text-align: center;
}
#right-column .product .download img {
  width: 80%;
}
@media (min-width: 400px) {
  #right-column .product .download img {
    width: auto;
    height: 55px;
  }
}
#right-column .recommend, #right-column .most-like {
  border: 1px solid #49aec0;
  border-radius: 10px;
  margin: 10px 0;
  box-sizing: border-box;
  overflow: hidden;
}
#right-column .recommend .main-title, #right-column .most-like .main-title {
  background-color: #49aec0;
  border: none;
  color: #f1f1f1;
}
#right-column .recommend .rank-list, #right-column .most-like .rank-list {
  padding: 0 10px;
}
#right-column .recommend .rank-list > li:nth-last-child(2), #right-column .most-like .rank-list > li:nth-last-child(2) {
  border: none;
}
#right-column .recommend .rank-list .item-group > li.count, #right-column .most-like .rank-list .item-group > li.count {
  padding: 3px;
  width: 50px;
  line-height: 1;
  text-align: center;
}
#right-column .recommend .rank-list .more-covers, #right-column .most-like .rank-list .more-covers {
  border-top: 2px solid #49aec0;
}
#right-column .recommend .rank-list .more-covers button, #right-column .most-like .rank-list .more-covers button {
  width: 100%;
  background: transparent;
  color: #49aec0;
  border: none;
  padding: 10px 0;
}
#right-column .ad-wrapper {
  width: 100%;
}

/* Modules */
.rank {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 1.5em;
}
.rank .main-title {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
.rank .sub-tab {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0.5em;
}

.tab-btn {
  background: transparent;
  padding: 5px 10px;
  border: 0;
}
.tab-btn.active {
  background: #49aec0;
  color: #f1f1f1;
  border-radius: 5px;
}

.rank-list {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
.rank-list.hot {
  border-top: 2px solid #000;
}
.rank-list .rank-item {
  margin-top: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #000;
}
.rank-list .rank-item .item-group > li {
  display: inline-block;
  vertical-align: middle;
}
.rank-list .rank-item .item-group > li.increasing, .rank-list .rank-item .item-group > li.count {
  float: right;
  display: block;
}
.rank-list .rank-item .item-group > li.rank-num, .rank-list .rank-item .item-group > li.increasing, .rank-list .rank-item .item-group > li.cover, .rank-list .rank-item .item-group > li.count {
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  font-size: 24px;
}
.rank-list .rank-item .item-group > li.rank-num {
  font-family: "Monda", sans-serif;
  text-align: center;
  font-size: 30px;
  color: #dd5778;
  width: 60px;
}
.rank-list .rank-item .item-group > li.cover {
  color: #f1f1f1;
  background: url(../images/default.png);
  background-size: cover;
  position: relative;
}
.rank-list .rank-item .item-group > li.cover img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.rank-list .rank-item .item-group > li.description {
  width: 50%;
  padding-left: 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.rank-list .rank-item .item-group > li.description .title, .rank-list .rank-item .item-group > li.description .artist {
  height: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.rank-list .rank-item .item-group > li.description .title a, .rank-list .rank-item .item-group > li.description .artist a {
  text-decoration: none;
}
.rank-list .rank-item .item-group > li.description .title a {
  color: #000;
  font-size: 18px;
}
.rank-list .rank-item .item-group > li.description .artist a {
  color: #666;
}
.rank-list .rank-item .item-group > li.increasing, .rank-list .rank-item .item-group > li.count {
  display: none;
}
@media (min-width: 550px) {
  .rank-list .rank-item .item-group > li.increasing, .rank-list .rank-item .item-group > li.count {
    display: block;
  }
}
.rank-list .rank-item .item-group > li.increasing {
  font-size: 30px;
  margin-top: 5px;
  margin-right: 20px;
  width: 30px;
  height: 30px;
  line-height: 40px;
  border-radius: 50%;
}
.rank-list .rank-item .item-group > li.increasing .icon-rise {
  color: #99dc51;
}
.rank-list .rank-item .item-group > li.increasing .icon-down {
  color: #dd577a;
}
.rank-list .rank-item .item-group > li.count {
  width: 80px;
  font-size: 16px;
  color: #333;
  text-align: left;
}
.rank-list .rank-item .item-group > li.count .play {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  font-size: 36px;
  color: #333;
  text-decoration: none;
}
.rank-list .rank-item .item-group > li.count .play-count {
  display: inline-block;
  vertical-align: middle;
  height: 36px;
  line-height: 36px;
  margin-left: 5px;
}

/*# sourceMappingURL=style.css.map */
