/* Compass */
/* Breakpoint */
/* Susy */
/* Tools */
/* ===========================
 * Tools/Helpers
 * =========================== */
/* Main title */
#right-column .recommend .main-title, #right-column .most-like .main-title, #recording-list .main-title, #pins-list .main-title, #follows-list .main-title, #followers-list .main-title, .rank .main-title {
  font-size: 1.5em;
  line-height: 1em;
  height: 41px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px;
  margin-bottom: 8px;
  border-bottom: 2px solid #000;
}
#right-column .recommend .main-title i, #right-column .most-like .main-title i, #recording-list .main-title i, #pins-list .main-title i, #follows-list .main-title i, #followers-list .main-title i, .rank .main-title i {
  margin-right: 10px;
}

/* Image replacement */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/* Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden;
}

/* Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

/* For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1;
}

/* =Layout
 * ------------------- 
 */
.ul-list-inline {
  list-style: none;
  margin: 0;
  padding: 0;
}
.ul-list-inline li {
  display: inline-block;
  vertical-align: middle;
}
.lt-ie8 .ul-list-inline li {
  display: inline;
  zoom: 1;
}

/* =Images
 * -------------------
 */
.lazy-loaded {
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  opacity: 1;
}

.lazy-hidden {
  opacity: 0;
  background: #eee url(../images/loading.gif) no-repeat 50% 50%;
}

/* =Fonts
 * ------------------- 
 */
/* Chart Colors */
.f-color1 {
  color: #dd577a;
}

.f-color2 {
  color: #49aec0;
}

/* =Wordpress alignment
 * ------------------- 
 */
.alignleft {
  display: inline;
  float: left;
}

.alignright {
  display: inline;
  float: right;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Base */
/*! normalize.css v3.0.0 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
 * ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
[hidden], template {
  display: none;
}

/* Links
 * ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active, a:hover {
  outline: 0;
}

/* Text-level semantics
 * ========================================================================== */
/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b, strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
 * ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
 * ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
 * ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8+, and Opera
 * Correct `select` style inheritance in Firefox.
 */
button, select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled], html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  padding: 0;
}

/**
 * Remove default vertical scrollbar in IE 8/9.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
 * ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

/* ===========================
 * Base
 * =========================== */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  line-height: 1.5;
  background-color: #f1f1f1;
}

a {
  color: #dd577a;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
a:hover {
  color: #d42d58;
}

::-moz-selection {
  background: #dd577a;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #dd577a;
  color: #fff;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

ul {
  list-style: none;
}

button {
  outline: none;
  border: none;
}

/* ==|====================
 * Base/Form
 * ======================= */
input[type="text"], input[type="email"], input[type="password"], input[type="date"], input[type="search"], textarea {
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #666;
  padding: 0.5em;
  border: 1px solid #bfbfbf;
  outline: 0;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  background-color: #f7f7f7;
}
input[type="text"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, input[type="date"]::-webkit-input-placeholder, input[type="search"]::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #cdcdcd;
}
input[type="text"]:-moz-placeholder, input[type="email"]:-moz-placeholder, input[type="password"]:-moz-placeholder, input[type="date"]:-moz-placeholder, input[type="search"]:-moz-placeholder, textarea:-moz-placeholder {
  color: #cdcdcd;
}
input[type="text"]:-ms-input-placeholder, input[type="email"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, input[type="date"]:-ms-input-placeholder, input[type="search"]:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #cdcdcd;
}
input[type="text"]:hover, input[type="email"]:hover, input[type="password"]:hover, input[type="date"]:hover, input[type="search"]:hover, textarea:hover {
  border-color: #a5a5a5;
}
input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="search"]:focus, textarea:focus {
  border-color: #999;
}

/* Fonts */
/* Layout */
header.navbar {
  background-color: #49aec0;
  margin-bottom: 0;
}
header .container-fluid {
  background-color: #49aec0;
}
header .container-fluid .navbar-brand {
  color: #f1f1f1;
  font-weight: 700;
  padding: 5px 10px;
}
header .container-fluid .navbar-nav > li > a {
  color: #f1f1f1;
}
header .container-fluid .navbar-nav > li > a.active {
  color: #f1f1f1;
  background-color: #fe5a27;
}
header .container-fluid .navbar-nav > li > a:hover {
  color: #f1f1f1;
}
header .navbar-header .navbar-toggle .icon-bar {
  background-color: #f1f1f1;
}
header .navbar-header .logo {
  background: url("../images/logo.png");
  background-size: cover;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
}

#pop-header .container-fluid {
  background-color: #ff0066;
}

#country-header .container-fluid {
  background-color: #3a1f09;
}

footer {
  background-color: #29324d;
  height: 300px;
}

/* Root home */
.voci .container {
  text-align: center;
}
.voci .container .intro-block {
  position: relative;
  font-size: 2em;
}
.voci .container .intro-block .entry {
  background-color: #49aec0;
  border-radius: 10px;
  color: #f1f1f1;
  text-decoration: none;
  width: 200px;
  height: 50px;
  position: absolute;
  overflow: auto;
  margin: 20% auto 0 auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.voci .container .intro-block .entry:hover {
  background-color: #95d0da;
}
.voci .container .intro-block .intro {
  width: 100%;
}
@media (min-width: 62em) {
  .voci .container .intro-block .intro {
    width: auto;
  }
}

#app-pop {
  background: url(../images/app_pop.jpg) no-repeat;
}
#app-pop .container {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}
#app-pop .intro-block {
  color: #f1f1f1;
}
#app-pop .cover {
  color: #f1f1f1;
}
#app-pop .entry {
  background-color: #ff0066;
}
#app-pop .entry:hover {
  background-color: #ff66a3;
}

#app-country {
  background: url(../images/app_country.jpg) no-repeat;
}
#app-country .container {
  background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6));
}
#app-country .intro-block {
  color: #000;
}
#app-country .cover {
  color: #000;
}
#app-country .entry {
  background-color: #3a1f09;
}
#app-country .entry:hover {
  background-color: #924e17;
}

.next-stars {
  height: 400px;
  text-align: center;
}

#app-pop, #app-country {
  background-size: cover;
  background-position: center;
}
#app-pop .container, #app-country .container {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media (min-width: 62em) {
  #app-pop .container, #app-country .container {
    flex-direction: row;
  }
}
#app-pop .container .app-icon, #app-country .container .app-icon {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
}
@media (min-width: 62em) {
  #app-pop .container .app-icon, #app-country .container .app-icon {
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%;
  }
}
#app-pop .container .intro-block, #app-country .container .intro-block {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  padding: 0 10px;
}
@media (min-width: 62em) {
  #app-pop .container .intro-block, #app-country .container .intro-block {
    width: 40.67797%;
    float: left;
    margin-right: 1.69492%;
  }
}
#app-pop .container .intro-block .download, #app-country .container .intro-block .download {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media (min-width: 62em) {
  #app-pop .container .intro-block .download, #app-country .container .intro-block .download {
    flex-direction: row;
  }
}
#app-pop .container .intro-block .download div, #app-country .container .intro-block .download div {
  width: 49.15254%;
  float: right;
  margin-right: 0;
  text-align: center;
  padding: 10px 0;
}
#app-pop .container .intro-block .download a, #app-country .container .intro-block .download a {
  display: block;
}
#app-pop .container .intro-block .download img, #app-country .container .intro-block .download img {
  width: 100%;
}
@media (min-width: 62em) {
  #app-pop .container .intro-block .download img, #app-country .container .intro-block .download img {
    width: auto;
    height: 55px;
  }
}
#app-pop .container .intro-cover, #app-country .container .intro-cover {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  padding: 10px 0;
}
@media (min-width: 62em) {
  #app-pop .container .intro-cover, #app-country .container .intro-cover {
    width: 32.20339%;
    float: right;
    margin-right: 0;
  }
}
#app-pop .container .intro-cover .cover, #app-country .container .intro-cover .cover {
  padding: 10px;
  display: flex;
  justify-content: center;
}
#app-pop .container .intro-cover .cover img, #app-country .container .intro-cover .cover img {
  width: 170px;
  height: 170px;
}
#app-pop .container .intro-cover .cover .description, #app-country .container .intro-cover .cover .description {
  width: 50%;
  padding: 0 20px;
}
#app-pop .container .intro-cover .entry, #app-country .container .intro-cover .entry {
  border-radius: 5px;
  font-size: 1.5em;
  text-align: center;
  margin: 10px;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
#app-pop .container .intro-cover .entry a, #app-country .container .intro-cover .entry a {
  color: #f1f1f1;
  display: block;
  text-decoration: none;
}

/* Pop and Country */
.carousel {
  background: lightblue;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 50px;
}
.carousel slick {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.carousel slick .slide {
  text-align: center;
  height: 100%;
}
.carousel slick .slide img {
  margin: 0 auto;
  max-height: 100%;
  width: 100%;
}
.carousel slick .slick-prev, .carousel slick .slick-next {
  width: 10%;
  height: 100%;
  margin-top: 0;
  top: 0;
}
.carousel slick .slick-prev {
  left: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}
.carousel slick .slick-next {
  right: 0;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}
.carousel slick .slick-dots {
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3));
  margin-bottom: 0;
  height: 34px;
  bottom: 0;
}

#left-column {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
@media (min-width: 62em) {
  #left-column {
    width: 66.10169%;
    float: left;
    margin-right: 1.69492%;
  }
}

#right-column {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
@media (min-width: 62em) {
  #right-column {
    width: 32.20339%;
    float: right;
    margin-right: 0;
  }
}

#home #right-column div {
  margin-bottom: 20px;
}
#home #right-column .visit {
  height: 100px;
  background-color: #fe5a27;
  font-size: 2em;
  font-weight: 700;
}
#home #right-column .visit a {
  width: 100%;
  height: 100%;
  color: #f1f1f1;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
#home #right-column .twitter-box, #home #right-column .advertising-box, #home #right-column .facebook-box {
  height: 300px;
  font-size: 2em;
  color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
}
#home #right-column .advertising-box {
  background-color: #ff0066;
  text-align: center;
}
#home #right-column .twitter-box {
  background-color: #43bfe1;
}
#home #right-column .facebook-box {
  background-color: #3b5998;
}

#songbook .header {
  text-align: center;
}
#songbook .header > .main-title, #songbook .header > .description {
  text-transform: uppercase;
}

#songbook-table {
  min-height: 500px;
}
#songbook-table .songs-table {
  text-align: left;
  width: 100%;
  border-top: 2px solid #000;
  border-bottom: 1px solid #000;
}
#songbook-table .songs-table tr, #songbook-table .songs-table th, #songbook-table .songs-table td {
  padding: 0.5em;
}
#songbook-table .songs-table th {
  position: relative;
}
#songbook-table .songs-table td {
  border-top: 1px solid #000;
}
#songbook-table .songs-table .row_1 .sort {
  padding: 3px;
  border-radius: 3px;
  margin-left: 3px;
  border: 0;
  background: transparent;
}
#songbook-table .songs-table .row_1 .sort:disabled {
  background: #49AEC0;
  color: #f1f1f1;
}
#songbook-table .songs-table .cell_1 {
  min-width: 150px;
}
#songbook-table .songs-table .cell_2 {
  min-width: 120px;
}
#songbook-table .songs-table .cell_3 {
  width: 166px;
  display: none;
}
@media (min-width: 62em) {
  #songbook-table .songs-table .cell_3 {
    display: table-cell;
  }
}
#songbook-table .songs-table .cell_4 {
  width: 85px;
}
#songbook-table .songs-table .cell_4 .active {
  background: #49AEC0;
  color: #fff;
  padding: 3px;
  border-radius: 3px;
}
#songbook-table .songs-table .filter {
  width: 100%;
  height: 2em;
  border: 0.1em solid #49aec0;
  padding-left: 0.5em;
}
#songbook-table .songs-table button.icons {
  padding: 5px;
  border-radius: 3px;
  margin-left: 3px;
  border: 0;
  background: transparent;
  position: absolute;
  right: 3%;
  top: 10px;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
#songbook-table .songs-table button.icons:disabled {
  opacity: 0.3;
}
#songbook-table .songs-table #genre-select {
  height: 2em;
  border: 0.1em solid #49aec0;
  background-color: #fff;
  padding-left: 0.5em;
}
#songbook-table .songs-table button.recording {
  outline: none;
  width: 70px;
  height: 24px;
  background: #49aec0;
  border: 0;
  border-radius: 5px;
  color: #f1f1f1;
  text-align: left;
}
#songbook-table .songs-table button.recording .fa {
  margin-right: 3px;
  margin-left: 3px;
}
#songbook-table .songs-table button.recording:disabled {
  background: #ccc;
}
#songbook-table .songs-table .rest-sort {
  cursor: pointer;
  background: #fe5a27;
  color: #f1f1f1;
  border-radius: 5px;
  padding: inherit;
  display: block;
  text-align: center;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
#songbook-table .songs-table .rest-sort:hover {
  background-color: #fe9473;
}

#page-size-option {
  margin-bottom: 10px;
}
#page-size-option select {
  border: 0.1em solid #49aec0;
  margin-right: 5px;
  height: 2em;
  background-color: #fff;
  padding-left: 0.5em;
}

#pagination {
  overflow: hidden;
}
#pagination .pagination {
  display: none;
}
@media (min-width: 48em) {
  #pagination .pagination {
    display: inline-block;
  }
}
#pagination .pagination > li:hover {
  cursor: pointer;
}
#pagination .pagination > li:last-child > a, #pagination .pagination > li:last-child > span, #pagination .pagination > li:first-child > a, #pagination .pagination > li:first-child > span {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
#pagination .pagination > li > a, #pagination .pagination > li > span {
  color: #49aec0;
  border: 1px solid #49aec0;
}
#pagination .pagination > li > a:hover, #pagination .pagination > li > a:focus, #pagination .pagination > li > span:hover, #pagination .pagination > li > span:focus {
  color: #49aec0;
  border-color: #49aec0;
}
#pagination .pagination > .active > a, #pagination .pagination > .active > span {
  color: #fff;
  background-color: #49aec0;
  border-color: #49aec0;
}
#pagination .pagination > .active > a:hover, #pagination .pagination > .active > a:focus, #pagination .pagination > .active > span:hover, #pagination .pagination > .active > span:focus {
  color: #fff;
  background-color: #49aec0;
  border-color: #49aec0;
}
#pagination .pager {
  clear: both;
  display: block;
}
@media (min-width: 48em) {
  #pagination .pager {
    display: none;
  }
}
#pagination pre {
  clear: both;
  text-align: center;
  border: none;
  background-color: transparent;
}

#cover #left-column {
  background-color: #fff;
}
#cover #left-column .cover-info {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 10px;
}
@media (min-width: 600px) {
  #cover #left-column .cover-info {
    flex-direction: row;
  }
}
#cover #left-column .cover-info .cover {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
@media (min-width: 600px) {
  #cover #left-column .cover-info .cover {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
  }
}
#cover #left-column .cover-info .image {
  background: url(../images/default.png);
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  width: 100%;
  padding-top: 100%;
  min-height: 80px;
}
#cover #left-column .cover-info .image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
#cover #left-column .cover-info .description {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
@media (min-width: 600px) {
  #cover #left-column .cover-info .description {
    width: 66.10169%;
    float: right;
    margin-right: 0;
  }
}
#cover #left-column .cover-info .description .interaction {
  padding: 20px;
  display: flex;
  justify-content: center;
}
#cover #left-column .cover-info .description .interaction .count {
  margin: 0 20px;
  text-align: center;
}

#right-column .product .download {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 400px) {
  #right-column .product .download {
    flex-direction: row;
  }
}
#right-column .product .download a {
  margin-top: 10px;
  margin-left: 10px;
  text-align: center;
}
#right-column .product .download img {
  width: 80%;
}
@media (min-width: 400px) {
  #right-column .product .download img {
    width: auto;
    height: 55px;
  }
}
#right-column .recommend, #right-column .most-like {
  border: 1px solid #49aec0;
  border-radius: 10px;
  margin: 10px 0;
  box-sizing: border-box;
  overflow: hidden;
}
#right-column .recommend .main-title, #right-column .most-like .main-title {
  background-color: #49aec0;
  border: none;
  color: #f1f1f1;
}
#right-column .recommend .rank-list, #right-column .most-like .rank-list {
  padding: 0 10px;
}
#right-column .recommend .rank-list > li:nth-last-child(2), #right-column .most-like .rank-list > li:nth-last-child(2) {
  border: none;
}
#right-column .recommend .rank-list .item-group > li.count, #right-column .most-like .rank-list .item-group > li.count {
  padding: 3px;
  width: 50px;
  line-height: 1;
  text-align: center;
}
#right-column .recommend .rank-list .more-covers, #right-column .most-like .rank-list .more-covers {
  border-top: 2px solid #49aec0;
}
#right-column .recommend .rank-list .more-covers button, #right-column .most-like .rank-list .more-covers button {
  width: 100%;
  background: transparent;
  color: #49aec0;
  border: none;
  padding: 10px 0;
}
#right-column .ad-wrapper {
  width: 100%;
}

#comment-block {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  padding: 10px;
}
#comment-block .header {
  border-top: 1px solid #ccc;
  padding: 10px;
}

.comment-edit .avatar .square, .comment .avatar .square {
  position: relative;
  width: 100%;
  padding-top: 100%;
}
.comment-edit .avatar .square .padding, .comment .avatar .square .padding {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
}
@media (min-width: 48em) {
  .comment-edit .avatar .square .padding, .comment .avatar .square .padding {
    padding: 15px;
  }
}
@media (min-width: 62em) {
  .comment-edit .avatar .square .padding, .comment .avatar .square .padding {
    padding: 18px;
  }
}
.comment-edit .avatar .square .padding .image, .comment .avatar .square .padding .image {
  width: 100%;
  height: 100%;
  background: url(../images/avatar.png);
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  border-radius: 50%;
  overflow: hidden;
}
.comment-edit .avatar .square .padding .image img, .comment .avatar .square .padding .image img {
  width: 100%;
  height: 100%;
}

.comment-edit {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
.comment-edit .avatar {
  width: 23.72881%;
  float: right;
  margin-right: 0;
}
.comment-edit .comment-form {
  width: 74.57627%;
  float: left;
  margin-right: 1.69492%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 0.5em;
}
.comment-edit .comment-form .content {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  border: 0;
  background: #49aec0;
  color: #fff;
  padding: 8px;
  height: 120px;
  word-break: normal;
  resize: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.comment-edit .comment-form .content:-moz-placeholder {
  color: #f1f1f1;
}
.comment-edit .comment-form .content::-moz-placeholder {
  color: #f1f1f1;
}
.comment-edit .comment-form .content:-ms-input-placeholder {
  color: #f1f1f1;
}
.comment-edit .comment-form .content::-webkit-input-placeholder {
  color: #f1f1f1;
}
.comment-edit .comment-form .content:disabled {
  background: #ccc;
}
.comment-edit .comment-form .content:focus {
  background: #fff;
  color: #131723;
  border: 1px solid #49aec0;
}
.comment-edit .comment-form .submit {
  background: #49aec0;
  color: #fff;
  border: 0;
  padding: 10px 20px;
  margin-top: 5px;
}
.comment-edit .comment-form .submit:disabled {
  background: #ccc;
}

.comments {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
.comments .comment {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0.5em;
  border-bottom: 1px solid #ccc;
}
.comments .comment .avatar {
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
}
.comments .comment .content {
  width: 74.57627%;
  float: right;
  margin-right: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.5em;
  background: #fff;
  position: relative;
}
.comments .comment .content .username {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  border-bottom: 1px solid #ccc;
  min-height: 21px;
}
.comments .comment .content .remove-btn {
  text-align: right;
  position: absolute;
  right: 0;
  top: 0;
}
.comments .comment .content .remove-btn .close {
  font-size: 12px;
  width: 40px;
  height: 28px;
  outline: none;
}
.comments .comment .content .remove-btn .del-alert {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}
.comments .comment .content .remove-btn .del-alert {
  -webkit-transition: 0.3s linear all;
  -moz-transition: 0.3s linear all;
  -ms-transition: 0.3s linear all;
  -o-transition: 0.3s linear all;
  transition: 0.3s linear all;
  opacity: 1;
}
.comments .comment .content .remove-btn .del-alert.ng-hide {
  opacity: 0;
}
.comments .comment .content .remove-btn .del-alert.ng-hide-add, .comments .comment .content .remove-btn .del-alert.ng-hide-remove {
  display: block !important;
}
.comments .comment .content .remove-btn .del-btn {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 320px;
  margin-top: -160px;
  margin-left: -160px;
  background: #f1f1f1;
  color: #131723;
  text-align: left;
  z-index: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1em;
}
.comments .comment .content .remove-btn .del-btn .close {
  padding: 0;
}
.comments .comment .content .remove-btn .del-btn .content {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
.comments .comment .content .remove-btn .del-btn .content .warning {
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
  font-size: 55px;
  text-align: center;
}
.comments .comment .content .remove-btn .del-btn .content .emphasis {
  width: 74.57627%;
  float: right;
  margin-right: 0;
}
.comments .comment .content .remove-btn .del-btn .del, .comments .comment .content .remove-btn .del-btn .cancel {
  width: 49.15254%;
  float: left;
  margin-right: 1.69492%;
  font-size: 18px;
  height: 35px;
  border: 0;
  background: #49aec0;
  color: #fff;
}
.comments .comment .content .remove-btn .del-btn .del span, .comments .comment .content .remove-btn .del-btn .cancel span {
  margin-left: 0.5em;
}
.comments .comment .content .remove-btn .del-btn .del {
  width: 49.15254%;
  float: right;
  margin-right: 0;
  background: #dd577a;
}
.comments .comment .content .text {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  min-height: 80px;
}
.comments .comment .content .created-at {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  text-align: right;
  color: #ccc;
}
.comments .more {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
.comments .more button {
  border: none;
  width: 100%;
  background-color: transparent;
  color: #000;
  margin: 1em 0;
  padding: 0.5em;
}
.comments .more button:disabled {
  display: none;
}

#user-profile .info {
  margin-top: 5%;
  overflow: hidden;
}
#user-profile .info .picture-block {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
}
@media (min-width: 48em) {
  #user-profile .info .picture-block {
    width: 15.25424%;
    float: left;
    margin-right: 1.69492%;
  }
}
#user-profile .info .picture-block .picture {
  background: url(../images/avatar.png);
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  overflow: hidden;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: inline-block;
}
#user-profile .info .picture-block img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
#user-profile .info .description-block {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  position: relative;
  text-align: center;
}
@media (min-width: 48em) {
  #user-profile .info .description-block {
    width: 83.05085%;
    float: right;
    margin-right: 0;
    text-align: start;
  }
}
#user-profile .info .description-block .username {
  display: inline-block;
}
#user-profile .info .description-block .username h1 {
  margin: 0;
  color: #49aec0;
}
#user-profile .info .description-block .follow-btn {
  display: inline-block;
  margin-left: 50px;
  position: relative;
}
#user-profile .info .description-block .follow-btn a {
  color: #49aec0;
}
#user-profile .info .description-block .follow-btn a i {
  margin-top: 5px;
  font-size: 24px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
}
#user-profile .info .description-block .follow-btn a span {
  margin-left: 12px;
  display: inline-block;
  background-color: white;
  border: 2px solid #49aec0;
  border-radius: 5px;
  padding: 5px 10px 5px 15px;
}
#user-profile .info .description-block .follow-btn a:hover {
  color: #fe5a27;
  cursor: pointer;
  text-decoration: none;
}
#user-profile .info .description-block .follow-btn a:hover span {
  border: 2px solid #fe5a27;
}
#user-profile .info .description-block .follow-btn .unfollow {
  color: #fe5a27;
}
#user-profile .info .description-block .follow-btn .unfollow span {
  border: 2px solid #fe5a27;
}
#user-profile .info .description-block .follow-btn .unfollow:hover {
  color: #49aec0;
}
#user-profile .info .description-block .follow-btn .unfollow:hover span {
  border: 2px solid #49aec0;
}
#user-profile .info .description-block .description {
  display: inline-block;
}
#user-profile .info .description-block .description h3 {
  color: grey;
  font-size: 1.5em;
  word-break: break-word;
}
@media (min-width: 48em) {
  #user-profile .info .description-block .edit-btn {
    position: absolute;
    top: 0;
    right: 0;
  }
}
#user-profile .info .description-block .edit-btn .btn {
  background-color: transparent;
  color: #000;
  outline: none;
}
#user-profile .info .description-block .edit-btn .edit-outer {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1;
}
#user-profile .info .description-block .edit-btn .edit-outer.ng-enter, #user-profile .info .description-block .edit-btn .edit-outer.ng-leave {
  -webkit-transition: 0.3s linear opacity;
  -moz-transition: 0.3s linear opacity;
  -ms-transition: 0.3s linear opacity;
  -o-transition: 0.3s linear opacity;
  transition: 0.3s linear opacity;
}
#user-profile .info .description-block .edit-btn .edit-outer.ng-enter, #user-profile .info .description-block .edit-btn .edit-outer.ng-leave.ng-leave-active {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  /* Hack IE6 */
}
.lt-ie7 #user-profile .info .description-block .edit-btn .edit-outer.ng-enter, .lt-ie7 #user-profile .info .description-block .edit-btn .edit-outer.ng-leave.ng-leave-active {
  filter: alpha(opacity=0);
  zoom: 1;
}
#user-profile .info .description-block .edit-btn .edit-outer.ng-leave, #user-profile .info .description-block .edit-btn .edit-outer.ng-enter.ng-enter-active {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  /* Hack IE6 */
}
.lt-ie7 #user-profile .info .description-block .edit-btn .edit-outer.ng-leave, .lt-ie7 #user-profile .info .description-block .edit-btn .edit-outer.ng-enter.ng-enter-active {
  filter: alpha(opacity=100);
  zoom: 1;
}
#user-profile .info .description-block .edit-btn .edit-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -125px;
  background: #999;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.5em;
  width: 250px;
}
#user-profile .info .description-block .edit-btn .edit-wrapper .email {
  width: 100%;
  text-align: left;
  background: #fefefe;
}
#user-profile .info .description-block .edit-btn .edit-wrapper .email .edit-input {
  width: 100%;
  height: 30px;
  padding: 0.5em;
}
#user-profile .info .description-block .edit-btn .edit-wrapper .email #set-email {
  margin-top: 0.5em;
  background: #49AEC0;
  color: #f1f1f1;
}
#user-profile .info .description-block .edit-btn .edit-wrapper .check {
  padding-top: 15px;
  text-align: left;
  color: #000;
}
#user-profile .info .description-block .edit-btn .edit-wrapper .check input {
  margin-right: 0.5em;
}
#user-profile .tabs {
  margin-top: 2%;
}
#user-profile .tabs ul > li > a {
  font-size: 25px;
}
#user-profile .tabs ul > li > a.active {
  background-color: #fe5a27;
  color: #f1f1f1;
}
#user-profile .tabs ul > li > a:hover {
  background-color: #fea88d;
  color: #f1f1f1;
}

#recording-list .pop, #recording-list .country, #pins-list .pop, #pins-list .country, #follows-list .pop, #follows-list .country, #followers-list .pop, #followers-list .country {
  margin-bottom: 2%;
}
#recording-list .main-title, #pins-list .main-title, #follows-list .main-title, #followers-list .main-title {
  font-size: 1em;
}
@media (min-width: 48em) {
  #recording-list .main-title, #pins-list .main-title, #follows-list .main-title, #followers-list .main-title {
    font-size: 1.5em;
  }
}
#recording-list .list, #pins-list .list, #follows-list .list, #followers-list .list {
  overflow: hidden;
  min-height: 300px;
}
#recording-list .list .item, #pins-list .list .item, #follows-list .list .item, #followers-list .list .item {
  background: #fff;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 5px;
  width: 49.15254%;
  float: left;
  margin-right: 1.69492%;
}
#recording-list .list .item:nth-child(2n), #pins-list .list .item:nth-child(2n), #follows-list .list .item:nth-child(2n), #followers-list .list .item:nth-child(2n) {
  width: 49.15254%;
  float: right;
  margin-right: 0;
}
@media (min-width: 48em) {
  #recording-list .list .item, #pins-list .list .item, #follows-list .list .item, #followers-list .list .item {
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%;
  }
  #recording-list .list .item:nth-child(2n), #pins-list .list .item:nth-child(2n), #follows-list .list .item:nth-child(2n), #followers-list .list .item:nth-child(2n) {
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%;
  }
  #recording-list .list .item:nth-child(4n), #pins-list .list .item:nth-child(4n), #follows-list .list .item:nth-child(4n), #followers-list .list .item:nth-child(4n) {
    width: 23.72881%;
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 62em) {
  #recording-list .list .item, #pins-list .list .item, #follows-list .list .item, #followers-list .list .item {
    width: 15.25424%;
    float: left;
    margin-right: 1.69492%;
  }
  #recording-list .list .item:nth-child(2n), #pins-list .list .item:nth-child(2n), #follows-list .list .item:nth-child(2n), #followers-list .list .item:nth-child(2n) {
    width: 15.25424%;
    float: left;
    margin-right: 1.69492%;
  }
  #recording-list .list .item:nth-child(4n), #pins-list .list .item:nth-child(4n), #follows-list .list .item:nth-child(4n), #followers-list .list .item:nth-child(4n) {
    width: 15.25424%;
    float: left;
    margin-right: 1.69492%;
  }
  #recording-list .list .item:nth-child(6n), #pins-list .list .item:nth-child(6n), #follows-list .list .item:nth-child(6n), #followers-list .list .item:nth-child(6n) {
    width: 15.25424%;
    float: right;
    margin-right: 0;
  }
}
#recording-list .list .item .control, #pins-list .list .item .control, #follows-list .list .item .control, #followers-list .list .item .control {
  height: 35px;
  line-height: 3em;
  text-align: right;
}
#recording-list .list .item .image, #pins-list .list .item .image, #follows-list .list .item .image, #followers-list .list .item .image {
  background: url(../images/default.png);
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  width: 100%;
  position: relative;
  padding-top: 100%;
}
#recording-list .list .item .image img, #pins-list .list .item .image img, #follows-list .list .item .image img, #followers-list .list .item .image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#recording-list .list .item .image .playback, #pins-list .list .item .image .playback, #follows-list .list .item .image .playback, #followers-list .list .item .image .playback {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 45px;
  height: 45px;
  border: 0;
  border-radius: 50%;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  margin-left: -20px;
  margin-top: -20px;
  color: #f1f1f1;
  font-size: 36px;
}
#recording-list .list .item .image .playback i, #pins-list .list .item .image .playback i, #follows-list .list .item .image .playback i, #followers-list .list .item .image .playback i {
  vertical-align: text-top;
}
#recording-list .list .item .content, #recording-list .list .item .interaction, #pins-list .list .item .content, #pins-list .list .item .interaction, #follows-list .list .item .content, #follows-list .list .item .interaction, #followers-list .list .item .content, #followers-list .list .item .interaction {
  padding-left: 0;
  margin: 0;
  min-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 10px 12px 0 12px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#recording-list .list .item .content .title, #recording-list .list .item .content .username, #recording-list .list .item .interaction .title, #recording-list .list .item .interaction .username, #pins-list .list .item .content .title, #pins-list .list .item .content .username, #pins-list .list .item .interaction .title, #pins-list .list .item .interaction .username, #follows-list .list .item .content .title, #follows-list .list .item .content .username, #follows-list .list .item .interaction .title, #follows-list .list .item .interaction .username, #followers-list .list .item .content .title, #followers-list .list .item .content .username, #followers-list .list .item .interaction .title, #followers-list .list .item .interaction .username {
  color: #333;
  width: 100%;
  height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-decoration: underline;
}
@media (min-width: 62em) {
  #recording-list .list .item .content .title, #recording-list .list .item .content .username, #recording-list .list .item .interaction .title, #recording-list .list .item .interaction .username, #pins-list .list .item .content .title, #pins-list .list .item .content .username, #pins-list .list .item .interaction .title, #pins-list .list .item .interaction .username, #follows-list .list .item .content .title, #follows-list .list .item .content .username, #follows-list .list .item .interaction .title, #follows-list .list .item .interaction .username, #followers-list .list .item .content .title, #followers-list .list .item .content .username, #followers-list .list .item .interaction .title, #followers-list .list .item .interaction .username {
    text-decoration: none;
  }
}
#recording-list .list .item .content .title a, #recording-list .list .item .content .username a, #recording-list .list .item .interaction .title a, #recording-list .list .item .interaction .username a, #pins-list .list .item .content .title a, #pins-list .list .item .content .username a, #pins-list .list .item .interaction .title a, #pins-list .list .item .interaction .username a, #follows-list .list .item .content .title a, #follows-list .list .item .content .username a, #follows-list .list .item .interaction .title a, #follows-list .list .item .interaction .username a, #followers-list .list .item .content .title a, #followers-list .list .item .content .username a, #followers-list .list .item .interaction .title a, #followers-list .list .item .interaction .username a {
  color: #333;
}
#recording-list .list .item .content .play-count, #recording-list .list .item .content .thumbs-up, #recording-list .list .item .interaction .play-count, #recording-list .list .item .interaction .thumbs-up, #pins-list .list .item .content .play-count, #pins-list .list .item .content .thumbs-up, #pins-list .list .item .interaction .play-count, #pins-list .list .item .interaction .thumbs-up, #follows-list .list .item .content .play-count, #follows-list .list .item .content .thumbs-up, #follows-list .list .item .interaction .play-count, #follows-list .list .item .interaction .thumbs-up, #followers-list .list .item .content .play-count, #followers-list .list .item .content .thumbs-up, #followers-list .list .item .interaction .play-count, #followers-list .list .item .interaction .thumbs-up {
  display: inline-block;
  vertical-align: middle;
  width: 49.15254%;
  float: left;
  margin-right: 1.69492%;
}
.lt-ie8 #recording-list .list .item .content .play-count, .lt-ie8 #recording-list .list .item .content .thumbs-up, .lt-ie8 #recording-list .list .item .interaction .play-count, .lt-ie8 #recording-list .list .item .interaction .thumbs-up, .lt-ie8 #pins-list .list .item .content .play-count, .lt-ie8 #pins-list .list .item .content .thumbs-up, .lt-ie8 #pins-list .list .item .interaction .play-count, .lt-ie8 #pins-list .list .item .interaction .thumbs-up, .lt-ie8 #follows-list .list .item .content .play-count, .lt-ie8 #follows-list .list .item .content .thumbs-up, .lt-ie8 #follows-list .list .item .interaction .play-count, .lt-ie8 #follows-list .list .item .interaction .thumbs-up, .lt-ie8 #followers-list .list .item .content .play-count, .lt-ie8 #followers-list .list .item .content .thumbs-up, .lt-ie8 #followers-list .list .item .interaction .play-count, .lt-ie8 #followers-list .list .item .interaction .thumbs-up {
  display: inline;
  zoom: 1;
}
#recording-list .list .item .content .play-count span, #recording-list .list .item .content .thumbs-up span, #recording-list .list .item .interaction .play-count span, #recording-list .list .item .interaction .thumbs-up span, #pins-list .list .item .content .play-count span, #pins-list .list .item .content .thumbs-up span, #pins-list .list .item .interaction .play-count span, #pins-list .list .item .interaction .thumbs-up span, #follows-list .list .item .content .play-count span, #follows-list .list .item .content .thumbs-up span, #follows-list .list .item .interaction .play-count span, #follows-list .list .item .interaction .thumbs-up span, #followers-list .list .item .content .play-count span, #followers-list .list .item .content .thumbs-up span, #followers-list .list .item .interaction .play-count span, #followers-list .list .item .interaction .thumbs-up span {
  margin-left: 5px;
}
#recording-list .list .item .content .thumbs-up, #recording-list .list .item .interaction .thumbs-up, #pins-list .list .item .content .thumbs-up, #pins-list .list .item .interaction .thumbs-up, #follows-list .list .item .content .thumbs-up, #follows-list .list .item .interaction .thumbs-up, #followers-list .list .item .content .thumbs-up, #followers-list .list .item .interaction .thumbs-up {
  width: 49.15254%;
  float: right;
  margin-right: 0;
}
#recording-list .list .empty, #pins-list .list .empty, #follows-list .list .empty, #followers-list .list .empty {
  margin: 0 auto;
  text-align: center;
  margin-top: 2em;
  color: grey;
}
#recording-list .list .empty.rec i, #pins-list .list .empty.rec i, #follows-list .list .empty.rec i, #followers-list .list .empty.rec i {
  color: #8d8d8d;
}
#recording-list .list .empty.rec a, #pins-list .list .empty.rec a, #follows-list .list .empty.rec a, #followers-list .list .empty.rec a {
  display: inline-block;
  width: 100%;
}
@media (min-width: 62em) {
  #recording-list .list .empty.rec a, #pins-list .list .empty.rec a, #follows-list .list .empty.rec a, #followers-list .list .empty.rec a {
    width: 50%;
  }
}
#recording-list .list .empty.rec a img, #pins-list .list .empty.rec a img, #follows-list .list .empty.rec a img, #followers-list .list .empty.rec a img {
  padding: 5px 0;
  width: 100%;
  height: auto;
}
@media (min-width: 48em) {
  #recording-list .list .empty.rec a img, #pins-list .list .empty.rec a img, #follows-list .list .empty.rec a img, #followers-list .list .empty.rec a img {
    width: 60%;
  }
}
@media (min-width: 62em) {
  #recording-list .list .empty.rec a img, #pins-list .list .empty.rec a img, #follows-list .list .empty.rec a img, #followers-list .list .empty.rec a img {
    width: 100%;
  }
}
@media (min-width: 62em) {
  #recording-list .list .empty.rec a img, #pins-list .list .empty.rec a img, #follows-list .list .empty.rec a img, #followers-list .list .empty.rec a img {
    padding: 0 10px;
  }
}
#recording-list .list .empty .download-wrap, #pins-list .list .empty .download-wrap, #follows-list .list .empty .download-wrap, #followers-list .list .empty .download-wrap {
  color: #737373;
  width: 90%;
  margin: 3em auto;
  padding: 20px;
  border: 5px solid #8d8d8d;
  border-radius: 10px;
}
@media (min-width: 48em) {
  #recording-list .list .empty .download-wrap, #pins-list .list .empty .download-wrap, #follows-list .list .empty .download-wrap, #followers-list .list .empty .download-wrap {
    width: 70%;
  }
}
@media (min-width: 62em) {
  #recording-list .list .empty .download-wrap, #pins-list .list .empty .download-wrap, #follows-list .list .empty .download-wrap, #followers-list .list .empty .download-wrap {
    width: 50%;
  }
}
#recording-list .list .empty .download-wrap .google, #pins-list .list .empty .download-wrap .google, #follows-list .list .empty .download-wrap .google, #followers-list .list .empty .download-wrap .google {
  width: 100%;
}
@media (min-width: 62em) {
  #recording-list .list .empty .download-wrap .google, #pins-list .list .empty .download-wrap .google, #follows-list .list .empty .download-wrap .google, #followers-list .list .empty .download-wrap .google {
    width: 41%;
  }
}
#recording-list .list .more, #pins-list .list .more, #follows-list .list .more, #followers-list .list .more {
  border-top: 1px solid #000;
  clear: both;
}

#follows-list .list .item .image, #followers-list .list .item .image {
  background-image: url(../images/avatar.png);
}

/* Modules */
.rank {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 1.5em;
}
.rank .main-title {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
.rank .sub-tab {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0.5em;
}

.tab-btn {
  background: transparent;
  padding: 5px 10px;
  border: 0;
}
.tab-btn.active {
  background: #49aec0;
  color: #f1f1f1;
  border-radius: 5px;
}

.rank-list {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
.rank-list.hot {
  border-top: 2px solid #000;
}
.rank-list .rank-item {
  margin-top: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #000;
}
.rank-list .rank-item .item-group > li {
  display: inline-block;
  vertical-align: middle;
}
.rank-list .rank-item .item-group > li.increasing, .rank-list .rank-item .item-group > li.count {
  float: right;
  display: block;
}
.rank-list .rank-item .item-group > li.rank-num, .rank-list .rank-item .item-group > li.increasing, .rank-list .rank-item .item-group > li.cover, .rank-list .rank-item .item-group > li.count {
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  font-size: 24px;
}
.rank-list .rank-item .item-group > li.rank-num {
  font-family: "Monda", sans-serif;
  text-align: center;
  font-size: 30px;
  color: #dd5778;
  width: 60px;
}
.rank-list .rank-item .item-group > li.cover {
  color: #f1f1f1;
  background: url(../images/default.png);
  background-size: cover;
  position: relative;
}
.rank-list .rank-item .item-group > li.cover img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.rank-list .rank-item .item-group > li.description {
  width: 50%;
  padding-left: 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.rank-list .rank-item .item-group > li.description .title, .rank-list .rank-item .item-group > li.description .artist {
  height: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.rank-list .rank-item .item-group > li.description .title a, .rank-list .rank-item .item-group > li.description .artist a {
  text-decoration: none;
}
.rank-list .rank-item .item-group > li.description .title a {
  color: #000;
  font-size: 18px;
}
.rank-list .rank-item .item-group > li.description .artist a {
  color: #666;
}
.rank-list .rank-item .item-group > li.increasing, .rank-list .rank-item .item-group > li.count {
  display: none;
}
@media (min-width: 550px) {
  .rank-list .rank-item .item-group > li.increasing, .rank-list .rank-item .item-group > li.count {
    display: block;
  }
}
.rank-list .rank-item .item-group > li.increasing {
  font-size: 30px;
  margin-top: 5px;
  margin-right: 20px;
  width: 30px;
  height: 30px;
  line-height: 40px;
  border-radius: 50%;
}
.rank-list .rank-item .item-group > li.increasing .icon-rise {
  color: #99dc51;
}
.rank-list .rank-item .item-group > li.increasing .icon-down {
  color: #dd577a;
}
.rank-list .rank-item .item-group > li.count {
  width: 80px;
  font-size: 16px;
  color: #333;
  text-align: left;
}
.rank-list .rank-item .item-group > li.count .play {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  font-size: 36px;
  color: #333;
  text-decoration: none;
}
.rank-list .rank-item .item-group > li.count .play-count {
  display: inline-block;
  vertical-align: middle;
  height: 36px;
  line-height: 36px;
  margin-left: 5px;
}

.material-input {
  position: relative;
  margin-top: 25px;
}
.material-input input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 235px;
  border: none;
  border-bottom: 1px solid #49aec0;
  border-radius: 0px;
  background: transparent;
}
@media (min-width: 48em) {
  .material-input input {
    width: 300px;
  }
}
.material-input input:focus {
  outline: none;
}
.material-input input:focus ~ label, .material-input input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #49aec0;
}
.material-input input:focus ~ .bar, .material-input input:valid ~ .bar {
  width: 50%;
}
.material-input input:focus ~ .highlight {
  -webkit-animation: inputlighter 0.3s ease;
  -moz-animation: inputlighter 0.3s ease;
  animation: inputlighter 0.3s ease;
}
.material-input label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  -webkit-transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -ms-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
  transition: 0.2s ease all;
}
.material-input .bar {
  position: relative;
  display: block;
  width: 300px;
}
.material-input .bar:before, .material-input .bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #49aec0;
  -webkit-transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -ms-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
  transition: 0.2s ease all;
}
.material-input .bar:before {
  left: 50%;
}
.material-input .bar:after {
  right: 50%;
}
.material-input .highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

@-webkit-keyframes inputlighter {
  from {
    background: #49aec0;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputlighter {
  from {
    background: #49aec0;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputlighter {
  from {
    background: #49aec0;
  }
  to {
    width: 0;
    background: transparent;
  }
}

/*# sourceMappingURL=style.css.map */
