#cover
  #left-column
    .cover-info
      +span(12)
      display: flex
      justify-content: flex-start
      padding: 10px
      .image
        +span(3)
        background: url(../images/default.png)
        +background-size(cover)
        position: relative
        min-height: 174px
        img
          position: absolute
          width: 100%
          height: 100%
          top: 0
          left: 0