.carousel
  background: lightblue
  width: 100%
  height: 350px
  margin: 0 auto
  margin-bottom: 50px
  slick
    width: 80%
    height: 300px
    margin: 0 auto
    .slide
      text-align: center

#left-column
  +span(9)
#right-column
  +span(3)