header#country-header.navbar.navbar-default
  .container-fluid
    .navbar-header
      button.navbar-toggle.btn(data-target='.bs-navbar-collapse', data-toggle='collapse', type='button')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(ui-sref='country')
        span.logo
        | Vōchie Country
    nav.collapse.navbar-collapse.bs-navbar-collapse(role='navigation')
      ul.nav.navbar-nav
      ul.nav.navbar-nav.navbar-right
        li
          a(ui-sref='root.blog', ng-class="{ active: location == 'blog' }") Blog
        li
          a(ui-sref='pop') Vōchie Pop
        li
          a(ui-sref='country.songbook', ng-class="{ active: location == 'songbook' }") SongBook
        li.dropdown(ng-hide="user._id")
          a.dropdown-toggle(data-toggle='dropdown')
            | Login
            strong.caret
          ul.dropdown-menu(role='menu')
            li
              a(ng-click="login.withFacebook('country')") Login with Facebook
            li
              a(ng-click="login.withTwitter('country')") Login with Twitter
        li.dropdown(ng-show="user._id")
          a.dropdown-toggle(data-toggle='dropdown', ng-class="{ active: location == 'user' }")
            | {{user.name}}
            strong.caret
          ul.dropdown-menu
            li
              a(ui-sref="root.user({id: user._id })") Profile
            li
              a(ng-click="logout()") Logout