#user-profile
  .info
    .picture-block
    .description-block
  .tabs
    ul
      li
        a(href="")
      li
        a(href="")
      li
        a(href="")
      li
        a(href="")
  .select
    select.selectpicker
      option(value="") Recording
      option(value="") Pins
      option(value="") Following
      option(value="") Followers